body {
  background-image: url("images/picinsert/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
}

.background-image {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.file-upload {
  background-color: none;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

.file-upload-btn {
  width: 38%;
  height: 13%;
  margin: 0;
  color: none;
  background: none;
  border: none;
  position: absolute;
  top: 22%;
  left: 50%;     
  transform: translate(-50%, 0);
  z-index: 1;
}

.file-upload-btn img {
  width: 100%;
  height: 100%;
  margin: 0;
  color: none;
  background: none;
  border: none;
  outline: none;
  position: absolute;
  top: 0%;
  left: 50%;     
  transform: translate(-50%, 0); 
  z-index: 0;
}

.file-upload-btn:hover {
  background: none;
  color: none;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
  z-index: 2;
}

.file-upload-input {
  position: absolute;
  width: 36%;
  height: 21%;
  z-index: 1;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
}

.image-upload-wrap {
  position: absolute;
  width: 36%;
  height: 21%;
  z-index: 1;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
}
.image-upload-wrap img{
  position: absolute;
  top: 0%;
  left: 50%;
  height: 100%;
  width: 100%;
  z-index: 0;
  transform: translate(-50%, 0);
}
.image-dropping,
.image-upload-wrap:hover {
  background-color: none;
  border: 4px dashed none;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 300px;
  max-width: 300px;
  margin: auto;
  padding: 20px;
  z-index: 1;
}

.remove-image {
  width: 200px;
  left: 40%;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.start {
  position: absolute;
  top: 78%;
  left: 36%;     
  transform: translate(-30%, -50%);
  height: 12%;
  width: 18%;
  z-index: 1;
  color: none;
  background: none;
  border: none;
  outline: none;
}

.start img {
  position: absolute;
  top: 50%;
  left: 50%;     
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  z-index: 0;
}

.predict {
  position: absolute;
  top: 78%;
  left: 64%;
  transform: translate(-70%, -50%);
  height: 12%;
  width: 18%;
  z-index: 1;
  color: none;
  background: none;
  border: none;
  outline: none;
}

.predict img {
  position: absolute;
  top: 50%;
  left: 50%;     
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  z-index: 0;
}

.board{
  position: absolute;
  top: 46%;
  left: 50%;     
  transform: translate(-50%, -50%);
  height: 77%;
  width: 67%;
  z-index: 0;
}


.buttons {
  cursor: pointer;
  font-size:1.2em;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  border: 0.2rem solid transparent; 
  border-radius: 2rem; 
  padding: 20px;
  width: 300px;
  text-align:center;
  background: rgba(0, 0, 0, 0.4);
}
.buttons:hover {
  border: 0.2rem solid #fff; 
  
  box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}
.btnAddPicture {
  text-decoration:none;
  position: absolute;
  z-index: 1;
  top: 22%;
  left: calc(50% - 170px);
}
.btnPredict {
  text-decoration:none;
  position: absolute;
  z-index: 1;
  top: 71%;
  display:none;
}

.cover-all-in-progress {
  z-index:300;
  background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAcSURBVBhXY2RgYPgPBECKgYEJxgABJigNBAwMAM3OBv8C3YgmAAAAAElFTkSuQmCC');
  position:fixed;top:0;left:0;width:100%;height:100%;opacity:0.4;}
@keyframes zigzag {25% {transform:rotate(30deg);} 75% {transform:rotate(-30deg);}}
.loading {
  z-index:400;position:absolute;top:calc(50% - 150px);left:calc(50% - 150px);
  animation: zigzag .8s linear infinite;transform-origin:50% 50%;
  width:300px;height:300px;content:url('images/picinsert/hat.png');
}