body {
  background-image: url("images/backgroud.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
}

.background-image {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.file-upload {
  background-color: none;
  width: 100%;
  margin: 0 auto;
}

.file-upload-btn {
  width: 38%;
  height: 13%;
  margin: 0;
  color: none;
  background: none;
  border: none;
  position: absolute;
  top: 22%;
  left: 50%;     
  transform: translate(-50%, 0);
  z-index: 1;
}

.file-upload-btn img {
  width: 100%;
  height: 100%;
  margin: 0;
  color: none;
  background: none;
  border: none;
  outline: none;
  position: absolute;
  top: 0%;
  left: 50%;     
  transform: translate(-50%, 0); 
  z-index: 0;
}

.file-upload-btn:hover {
  background: none;
  color: none;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  width: 36%;
  height: 21%;
  z-index: 1;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
}

.image-upload-wrap {
  position: absolute;
  width: 36%;
  height: 21%;
  z-index: 1;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
}
.image-upload-wrap img{
  position: absolute;
  top: 0%;
  left: 50%;
  height: 100%;
  width: 100%;
  z-index: 0;
  transform: translate(-50%, 0);
}
.image-dropping,
.image-upload-wrap:hover {
  background-color: none;
  border: 4px dashed none;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.start {
  position: absolute;
  top: 78%;
  left: 36%;     
  transform: translate(-30%, -50%);
  height: 12%;
  width: 18%;
  z-index: 1;
  color: none;
  background: none;
  border: none;
  outline: none;
}

.start img {
  position: absolute;
  top: 50%;
  left: 50%;     
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  z-index: 0;
}

.predict {
  position: absolute;
  top: 78%;
  left: 64%;
  transform: translate(-70%, -50%);
  height: 12%;
  width: 18%;
  z-index: 1;
  color: none;
  background: none;
  border: none;
  outline: none;
}

.predict img {
  position: absolute;
  top: 50%;
  left: 50%;     
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  z-index: 0;
}
