<<<<<<< HEAD
body{
  height: 100%;
  margin: 0;
}

.background-image {
  background-image: url("asset/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  position: relative;
  height: 100%;
}

.image1 {
  position: absolute;
  top: 15%;
  left: 50%;     
  transform: translate(-50%, 0); 
}

.image2 {
  position: absolute;
  top: 62%;
  left: 50%;     
  transform: translate(-50%, 0); 
=======
body{
  height: 100%;
  margin: 0;
}

.background-image {
  background-image: url("bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  position: relative;
  height: 100%;
}

.image1 {
  position: absolute;
  top: 15%;
  left: 50%;     
  transform: translate(-50%, 0); 
}

.image2 {
  position: absolute;
  top: 62%;
  left: 50%;     
  transform: translate(-50%, 0); 
>>>>>>> 9c3e3af12d9937c71028f50317052b42a9697913
}