body {
  margin: 0;
}

.bg-img {
  background-image: url("images/start/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.img-1, 
.img-2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.img-1 {
  top: 10%;
}

.img-2 {
  top: 60%;
}